<% content_for :header do %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>     
      <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);                      
        
              
        function chart_object(data,div_name) {
          var chart = new google.visualization.AreaChart(document.getElementById(div_name));
          chart.draw(data, {width: 200, height: 200, legend: 'none', gridlineColor: 'none',
                            chartArea:{left:0,top:0,width:"100%",height:"100%"},
                            hAxis: {titleTextStyle: {color: '#FF0000', size: 10}},
                            pointSize: 5,
                            vAxis: {textPosition: 'none'}
                           });
        }

        function drawChart() {
          var project_data= new google.visualization.DataTable();
          project_data.addColumn('string', 'year');
          project_data.addColumn('number', 'projects');
          project_data.addRows(
            <%= raw(@projects.collect { |x| [x.created_at.strftime("%b %Y"), x]}.group_by { |x| x[0] }.collect {|x| [x[0], x[1].size]})%>
          );
          
          var coder_data= new google.visualization.DataTable();
          coder_data.addColumn('string', 'year');
          coder_data.addColumn('number', 'coders');
          coder_data.addRows(
            <%= raw(@coders.collect { |x| [x.first_commit.strftime("%b %Y"), x]}.group_by { |x| x[0] }.collect {|x| [x[0], x[1].size]})%>
          );
          
          var commits_data= new google.visualization.DataTable();
          commits_data.addColumn('string', 'year');
          commits_data.addColumn('number', 'commits');
          commits_data.addRows(
            <%= raw(@commits.collect { |x| [x.committed_date.strftime("%b %Y"), x]}.group_by { |x| x[0] }.collect {|x| [x[0], x[1].size]}.reverse)%>
          );
          
          
         chart_object(project_data,"projects_chart_div");                             
         chart_object(commits_data,"commits_chart_div");                             
         chart_object(coder_data,"coders_chart_div");                                               
        }
      </script>
<% end %>


<div class="wrap-t"> 
  <div class="wrap clearfix" id="become-wrap"> 
    <h2>Pirates Go AARR!</h2>
  <div style="text-align:left;">We pirated <a href="http://500hats.typepad.com/500blogs/2007/09/startup-metrics.html">David McClure's AARR</a> metrics to measure how we're doing as an organization on github.  The components include: Activation - Where did our users come from and how many viewed our projects? Acquisition - How many join the geek army? Retention - How active are our geeks? Referral - How many geeks did our geeks refer? </div>
  <p></p>
  </div>
  <div class="wrap clearfix" id="become-wrap"> 
        <!--Stats --> 
        <%= render "acquisition"%>
        <!--Coders --> 
        <%= render "activation"%>
        <!--Projects --> 
        <%= render "retention"%>          
        <!--Commits --> 
        <%= render "referral"%>
    </div> 
		<div class="wrap-b">&nbsp;</div> 
		<div class="wrap clearfix" id="whos"> 
		</div> 
</div>

<div class="wrap-t"> 
  <div class="wrap clearfix" id="become-wrap"> 
        <!--Stats --> 
        <%= render "github_stats"%>
        <!--Coders --> 
        <%= render "coders"%>
        <!--Projects --> 
        <%= render "projects"%>          
        <!--Commits --> 
        <%= render "commits"%>
      </div> 
		<div class="wrap-b">&nbsp;</div> 
		<div class="wrap clearfix" id="whos"> 
		</div> 
</div> 
		
		
