<% content_for :header do %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>     
      <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);                      
        
              
        function chart_object(data,div_name) {
          var chart = new google.visualization.AreaChart(document.getElementById(div_name));
          chart.draw(data, {width: 200, height: 200, legend: 'none', gridlineColor: 'none',
                            chartArea:{left:0,top:0,width:"100%",height:"100%"},
                            hAxis: {titleTextStyle: {color: '#FF0000', size: 10}},
                            pointSize: 5,
                            vAxis: {textPosition: 'none'}
                           });
        }

        function drawChart() {
          var project_data= new google.visualization.DataTable();
          project_data.addColumn('string', 'year');
          project_data.addColumn('number', 'projects');
          project_data.addRows(
            <%= raw(@projects.collect { |x| [x.created_at.strftime("%b %Y"), x]}.group_by { |x| x[0] }.collect {|x| [x[0], x[1].size]})%>
          );
          
          var coder_data= new google.visualization.DataTable();
          coder_data.addColumn('string', 'year');
          coder_data.addColumn('number', 'coders');
          coder_data.addRows(
            <%= raw(@coders.collect { |x| [x.first_commit.strftime("%b %Y"), x]}.group_by { |x| x[0] }.collect {|x| [x[0], x[1].size]})%>
          );
          
          var commits_data= new google.visualization.DataTable();
          commits_data.addColumn('string', 'year');
          commits_data.addColumn('number', 'commits');
          commits_data.addRows(
            <%= raw(@commits.collect { |x| [x.committed_date.strftime("%b %Y"), x]}.group_by { |x| x[0] }.collect {|x| [x[0], x[1].size]}.reverse)%>
          );
          
          
         chart_object(project_data,"projects_chart_div");                             
         chart_object(commits_data,"commits_chart_div");                             
         chart_object(coder_data,"coders_chart_div");                                               
        }
      </script>
<% end %>

<!--   ==============   HEADER   ==============   -->
<div id="header" class="wrap">
<!--Logo -->
	<a href="/" class="like-btn" id="logo">Code for America</a>
	<!--Tag line -->
	<div id="tag-line">
	<h1>Community Tracker</h1>
	<h2>Stats on our Projects, Coders, Commits and More</h2>
	</div>
	<!--Social Links -->
	<ul id="social">
		<li><a href="http://codeforamerica.org/feed/" id="rss">RSS</a></li>
		<li><a href="http://www.facebook.com/codeforamerica" id="fb">Facebook</a></li>
		<li><a href="http://www.youtube.com/user/CodeforAmerica" id="yt">YouTube</a></li>
		<li><a href="http://www.twitter.com/codeforamerica" id="tw">Twitter</a></li>
		<li><a href="mailto:info@codeforamerica.org" id="mail">E-mail</a></li>
	</ul>
	<!--Navigation -->
	<div id="nav-wrap">
		<ul id="nav" class="menu">
		  <li><a href="/dashboard">Home</a></li> 
      <li><a href="/dashboard/projects">Projects</a></li> 
      <li><a href="/dashboard/coders">Coders</a></li>
      <li><a href="/dashboard/commits">Commits</a></li>              
    </ul>
	</div>
</div>

<div class="wrap-t"> 
  <div class="wrap clearfix" id="become-wrap"> 
        <!--Stats --> 
        <%= render "acquisition"%>
        <!--Coders --> 
        <%= render "activation"%>
        <!--Projects --> 
        <%= render "retention"%>          
        <!--Commits --> 
        <%= render "referral"%>
      </div> 
		<div class="wrap-b">&nbsp;</div> 
		<div class="wrap clearfix" id="whos"> 
		</div> 
</div>

<div class="wrap-t"> 
  <div class="wrap clearfix" id="become-wrap"> 
        <!--Stats --> 
        <%= render "github_stats"%>
        <!--Coders --> 
        <%= render "coders"%>
        <!--Projects --> 
        <%= render "projects"%>          
        <!--Commits --> 
        <%= render "commits"%>
      </div> 
		<div class="wrap-b">&nbsp;</div> 
		<div class="wrap clearfix" id="whos"> 
		</div> 
</div> 
		
		
 
	</div><!-- #main --> 
 
 <!--   ==============   FOOTER   ==============   --> 
  <div id="footer" > 
  	<div class="wrap"> 
    </div>
  <div>
  <!--   ==============   END FOOTER   ==============   --> 

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'72c27113-3bfc-4c68-a34e-b85a85d478db'});</script> 
